<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/assets/css/burger_style.css" />
		<title>Burger MVC setup</title>
		<script src="https://code.jquery/com/jquery/js">
		</script>
		<script src="/assets/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>