<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="/assets/css/burger_style.css" />
		<title>Burger MVC setup</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>